.GNB {
  border-top: 5px solid #ddd;
  border-bottom: 1px solid #ddd;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.GNB > ul {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}
.GNB > ul > li {
  position: relative;
}
.GNB .submenu {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: #f7f7f7;
  width: 150px;
  text-align: center;
  border: 4px solid #369;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.GNB > ul > li:hover .submenu {
  top: 40px;
  opacity: 1;
  visibility: visible;
}
.GNB .submenu > li ~ li {
  border-top: 1px solid #ddd;
}
